.digit {
  background: $contrast url(../../images/digit_bg.png) no-repeat center right;
  background-size: cover;
  padding: space(8) 0;
  text-align: center;
}

.digit h2, %sectionH2 {
  color: $white;
  opacity: .4;
  font-size: em(50, 15);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: space(5);

  @include down(678px) {
    font-size: em(28, 15);
  }
}

.digit ul{
  @include flex();
  @extend .container;
  flex-wrap: wrap;
  @include down(1060px) {
    justify-content: space-around;
  }
  @include down(678px) {
    flex-direction: column;
  }
}

.digit__el{
  color: $white;
  text-align: center;
  text-transform: uppercase;
  @include down(1060px) {
    margin: space(3) space(5);
  }
}

.digit__img{
  height: 80px;
  margin-bottom: space(2);
  @include down(678px) {
    height: 60px;
  }
}

.digit__number{
  color: $primaryColor;
  font-size: em(54);
  font-weight: bold;
}
