.partners {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  flex-wrap: wrap;
  //padding: space(10);
}

.partners img {
  width: 250px;
  margin: space(2) space(9);
  filter: grayscale(100%);
  opacity: .5;
  transition: filter .15s ease-in-out, opacity .15s ease-in-out;
  @include down(678px) {
    width: 100px;
  }
}

.partners img:hover {
  filter: grayscale(0);
  opacity: 1;
}