.services{
  position: relative;
}

.services .particles{
  right: inherit;
  left: -50px;
  bottom: -250px;
  top: inherit;
}

.services__list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services__el {
  padding-top: space(13);
  flex-basis: 30%;
  text-align: center;
  @include down(768) {
    flex-basis: 100%;
  }
}

.children__el{
  color: #08295F;
  padding: space(2) 0;
  margin-bottom: space(1);
  background: #fff;
  position: relative;
  border-bottom: 1px solid rgba(#08295F, .25);
}

.children__el:last-child{
  border-bottom: 0px solid rgba(#08295F, .25);
}
