.skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills__el {
  flex-basis: 28%;
  display: flex;
  align-items: center;
  justify-content: start;

  @include down(768) {
    flex-basis: 100%;
  }

}

.skills__el p + p {
  font-size: .8em;
  color: rgb(118, 118, 118);
}

//.skills__el > * {
//  flex-basis: 50%;
//}


.skills__el img{
  margin: 0 10px;
  width: 100px;
  height: 100px;
}