section {
  //padding: space(5) 0 space(5);
  margin-bottom: space(8);
}

.section__header{
  @include flex($direction: column, $justify: space-around );
  height: 100vh;
  overflow: hidden;
  position: relative;
  background:rgba(7, 37, 60, 0.45);
}

.section__presentation{
  font-size: em(16, 15);
  padding: space(12) 0 space(3);
  position: relative;
  overflow: hidden;
}

.section__presentation img{
  width: 500px;
  justify-self: left;
  margin: 0 auto;
  opacity: .8;
  @include down(1050px) {
    width: 60%;
    min-width: 288px;
  }
}

.section__presentation .container{
  @include flex(row, center, start  );
  @include down(1050px) {
    @include flex(column, center, start  )
  }
}

.section__presentation .container > div{
  width: 50%;
  min-width: 288px;
  @include down(1050px) {
    width: 100%;
    margin-bottom: space(2);
  }
}


.section__presentation_content p {
    margin-bottom: space(2);
}

.fade-in-section {
  transform: translateY(20px);
  opacity: 0;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}

.fade-in-section.isVisible {
  transform: translateY(0px);
  opacity: 1;
}